:root[tabsintitlebar]{ --uc-toolbar-height: 40px; }
:root[tabsintitlebar][uidensity="compact"]{ --uc-toolbar-height: 32px }

#TabsToolbar{ visibility: collapse !important }

:root[sizemode="fullscreen"] #TabsToolbar > :is(#window-controls,.titlebar-buttonbox-container){
    visibility: visible !important;
    z-index: 2;
}

:root:not([inFullscreen]) #nav-bar{
    margin-top: calc(0px - var(--uc-toolbar-height,0px));
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"]{
    min-height: unset !important;
    height: var(--uc-toolbar-height,0px) !important;
    position: relative;
}

#toolbar-menubar[autohide="false"]{
    margin-bottom: var(--uc-toolbar-height,0px)
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar{
    flex-grow: 1;
    align-items: stretch;
    background-color: var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

hbox.titlebar-buttonbox-container:nth-child(3) > hbox:nth-child(1) > toolbarbutton:nth-child(4) {
    display: none;
}

hbox.titlebar-buttonbox-container:nth-child(6) > hbox:nth-child(1) > toolbarbutton:nth-child(4) {
    display: none;
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[autohide="true"][inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-pre,0px)
}

#appcontent
> #tabbrowser-tabbox
> #tabbrowser-tabpanels
> .deck-selected
> .browserContainer
> .browserStack
> browser {
    border-radius: 10px;
    margin: 10px;
}

.browserStack {
    background: var(-lwt-accent-color);
}

.browserContainer {
    background-color: var(--lwt-accent-color);
    background-position: right top, var(--lwt-background-alignment);
}

#sidebar-button {
    margin-left: 10px;
}

#sidebar-box {
    min-width: 250px;
    max-width: 250px;
    min-height: unset;
    max-height: unset;
    border-right: none;
}

#sidebar-splitter {
    display: none;
}

#PersonalToolbar {
    display: none;
}

#navigator-toolbox {
    border-bottom: none !important;
}

#sidebar-header {
    display: none;
}
